<!doctype html>
<title>{% block title %}{% endblock %} NLP </title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='util.css') }}">




<section class="content">
  {% block content %}
      <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-b-54">
				<form class="login100-form validate-form" action="/check" method="post">
                    <span class="login100-form-title">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                          {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                          {% endfor %}
                      {% endwith %}
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Введите хоть что-нибудь">
						<span class="label-input100">Высказывание</span>
						<input class="input100" type="text" name="content" placeholder="очень положительный отзыв...">
						<span class="focus-input100" data-symbol="&#128172;"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Проверить
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
      <!--
      <form action="/check" method="post">
          <label for="sentence">Sentence</label>
          <input name="content" id="sentence" required value="{{ words }}">
          <input type="submit" value="Check">
      </form>
      -->
  {% endblock %}
</section>