<!doctype html>
<title>{% block title %}{% endblock %} NLP </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}Oh, Hi User!{% endblock %}
  </header>
  {% block content %}
      <form action="/check" method="post">
          <label for="sentence">Sentence</label>
          <input name="content" id="sentence" required value="{{ words }}">
          <input type="submit" value="Check">
      </form>
  {% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
</section>